

.content{
    padding-left: 100px;
    width: 90%;
    height:100%;
    float: right;
    background-color: #f6f7f9;
}

.chartbar{
    margin-top: 30px;
    max-width: 750px !important;
    background-color: #ffffff;
    float: left;
    margin-right: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}


.numstats{/*
    margin-top: 30px;
    margin-right: 40px;
    width: 95.5% !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    font-family: 'Jura', sans-serif;
    font-size: 25px;*/
}

.numstats tr{
    border-right: 2px solid #0b7dda;
}
.numstats span,tr > th{
    text-align: center;
}

.title-stats{
    padding-right: 10px;
}.title-info{
    padding-right: 10px;
 }

 body{
     background-color: #f6f7f9;
 }

 .count{
     font-size: 30px;
 }

 .col-md-2{
     background-color: #ffffff;
     float: left;
     text-align: center;
     padding-bottom: 10px;
 }
 .line{
     border-right: 2px solid #1498d5;
 }

 .line-content{
     margin-top: 30px;
     width: 94.7%;
     border-bottom: 1px solid rgba(0, 0, 0, 0.2);
     box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
 }

 .profile-div{
     margin-top: 30px;
     background-color: #ffffff;
     float: left;
     margin-right: 40px;
     padding: 10px 15px;
     border-bottom: 1px solid rgba(0, 0, 0, 0.2);
     box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
 }

.profile-div img{
    width: 94px;
    height: 94px;
    border-radius: 50%;
}

.profile-info{
    display: inline-block;
    padding: 0 15px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #009900;
    border-radius: 50%;
    display: inline-block;
}

table {
    width: 100%;
}
.skills{
    padding: 0 15px;
}

.social-networks{
    width: 50%;
    float: left;
    font-size: 17px;
}

.social-networks span{
    padding: 5px 15px;
}

.social-networks span > a{
    text-decoration: none;
    color: black;
}

.social-networks span > a:hover{
    text-decoration: none;
    color:#1498d5 ;
}

.uncomplete-tasks{
    width: 50%;
    float: left;
}

.panel-heading{
    color: white;
    background-color: #FF2323;
    text-align: center;
    display: flow-root;
    padding: 0px;
    vertical-align: middle;
}

.tasks{
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    margin: 0;
    display: inline-block;
    width: 100%;
    padding: 0 5px;
}

.btt{
    border-bottom: 1px solid lightgray;
}

.mo-products {
    margin-top: 30px;
    width: 59.6% !important;
    background-color: #ffffff;
    float: left;
    margin-right: 40px;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

}
.prods thead{
    border: 1px solid #1498d5;
    background-color: #1498d5;
    color: #FFFFFF;
}

.prods thead, th{
    text-align: left;
}

.prods tbody{
    text-align: center;
    border: 1px solid #1498d5;
}

.prods td{
    border-bottom: 1px solid #1498d5;
    padding: 9px 15px;
}

.prods tr:hover{
    background-color: #1498d5;
    opacity: 0.5;
    color: #ffffff;
    cursor: pointer;
}

